In [28]:
import pandas as pd
import pandas as pd
import requests
import zipfile
import io

# Importation des bases de données pour le projet depuis data.gouv

#### Base disparité des niveaux de vie

In [29]:
# URL directe du fichier
url = "https://www.data.gouv.fr/api/1/datasets/r/84e9ee7b-fc35-4c4a-85bf-85a1ff9503f4"
# Lecture avec encodage adapté
df1 = pd.read_excel(url, engine='openpyxl', header = 5, nrows=101).rename(columns = {"Unnamed: 1": "Dep",
"Rapport interdécile D9/D1": "D9/D1"}).drop(columns=["Départements"]).dropna()
# Vérification
df1

                                         Dep  D9/D1
0                                        Ain    3.5
1                                      Aisne    3.1
2                                     Allier    3.0
3                    Alpes-de-Haute-Provence    3.2
4                               Hautes-Alpes    3.0
..                                       ...    ...
95                                Val-d'Oise    3.7
96  France métropolitaine hors Ile-de-France    3.2
97                     France métropolitaine    3.4
98                                Martinique    4.2
99                                La Réunion    4.3

[100 rows x 2 columns]

#### Base Niveau de vie des ménages (2021 - MaJ 2024)

In [30]:
# URL directe du fichier
url = "https://www.data.gouv.fr/api/1/datasets/r/06234b8a-f19b-4972-84e2-39e7b65e4e5a"
# Lecture avec encodage adapté
df2 = pd.read_excel(url, engine='openpyxl', header = 5, nrows=101).rename(columns = {"Unnamed: 1": "Dep",
"Niveau de vie médian": "Rev_median"}).drop(columns=["Départements"]).dropna()
# Vérification
df2

                                          Dep  Rev_median
0                                         Ain     24810.0
1                                       Aisne     20920.0
2                                      Allier     21500.0
3                     Alpes-de-Haute-Provence     21790.0
4                                Hautes-Alpes     22010.0
..                                        ...         ...
95                                 Val-d'Oise     23290.0
96   France métropolitaine hors Ile-de-France     22730.0
97                      France métropolitaine     23080.0
99                                 Martinique     19770.0
100                                La Réunion     17070.0

[100 rows x 2 columns]

#### Base jeunes non diplomés de 25-34 ans (2021 - MaJ 2024)

In [31]:
# URL directe du fichier
url = "https://www.data.gouv.fr/api/1/datasets/r/fb6e85bc-0ebe-4754-bdc4-2f3ff8c0ad8a"
# Lecture avec encodage adapté
df3 = pd.read_excel(url, engine='openpyxl', header = 4, nrows=101, usecols=[0,1,7]).rename(columns = {"Unnamed: 1": "Dep",
"Unnamed: 7": "Ndip25_34"}).drop(columns=["Départements"]).dropna()
# Vérification
df3

                                          Dep Ndip25_34
1                                         Ain      11.5
2                                       Aisne      17.6
3                                      Allier      14.8
4                     Alpes-de-Haute-Provence      12.7
5                                Hautes-Alpes       9.7
..                                        ...       ...
96                          Seine-Saint-Denis      18.9
97                               Val-de-Marne      11.3
98                                 Val-d'Oise      14.1
99   France métropolitaine hors Ile-de-France      11.9
100                     France métropolitaine      11.6

[100 rows x 2 columns]

#### Intensité de la pauvreté (2021 - MaJ 2024)

In [32]:
# URL directe du fichier
url = "https://www.data.gouv.fr/api/1/datasets/r/2ee6cff1-efeb-4739-bde3-d1778bea8b86"
# Lecture avec encodage adapté
df4 = pd.read_excel(url, engine='openpyxl', header = 5, nrows=101, usecols=[0,1,2]).rename(columns = {"Unnamed: 1": "Dep",
"Intensité de la pauvreté (1)": "intens_pauvr"}).drop(columns=["Départements"]).dropna()
# Vérification
df4

                                         Dep  intens_pauvr
0                                        Ain          20.4
1                                      Aisne          20.1
2                                     Allier          20.1
3                    Alpes-de-Haute-Provence          20.5
4                               Hautes-Alpes          19.9
..                                       ...           ...
95                                Val-d'Oise          22.9
96  France métropolitaine hors Ile-de-France          20.2
97                     France métropolitaine          20.8
98                                Martinique          24.1
99                                La Réunion          24.0

[100 rows x 2 columns]

#### Taux de chomage (2019,2021,2024)

In [35]:
# URL directe du fichier
url = "https://www.data.gouv.fr/api/1/datasets/r/500d1954-9849-479b-9aac-85435c6d422f"
# Lecture avec encodage adapté
df5 = pd.read_excel(url, engine='openpyxl', header = 5, usecols=[0,1,7,12],  #[0,1,7,10,12]
 nrows=101, sheet_name="Moyenne annuelle").rename(columns = {"Unnamed: 1": "Dep",
2019: "chom19", 2024: "chom24"}).drop(columns=["Département"]).dropna()
# Vérification
df5

                         Dep  chom19  chom24
0                        Ain   6.050   5.600
1                      Aisne  11.800  10.500
2                     Allier   9.050   7.925
3    Alpes-de-Haute-Provence  10.075   7.925
4               Hautes-Alpes   7.925   6.225
..                       ...     ...     ...
96     France métropolitaine   8.175   7.175
97                Guadeloupe  20.125  16.750
98                Martinique  16.125  12.350
99                    Guyane  17.125  16.950
100                  Réunion  21.500  17.350

[101 rows x 3 columns]

#### Demandeurs d'emploi (Part de la population active 15-64 ans)

In [36]:
# URL directe du fichier
url = "https://www.data.gouv.fr/api/1/datasets/r/87b12173-d9fb-462f-b216-370439ac6d69"
# Lecture avec encodage adapté
df6 = pd.read_excel(url, engine='openpyxl', header = 4, usecols=[0,1,8],
 nrows=101, sheet_name="Données").rename(columns = {"Unnamed: 1": "Dep",
"Part des demandeurs d’emploi dans la population en âge de travailler (15 -64 ans) (3)": "Dem_empl15_64"}).drop(columns=["Départements"]).dropna()
# Vérification
df6

                                          Dep  Dem_empl15_64
1                                         Ain           10.3
2                                       Aisne           15.8
3                                      Allier           13.7
4                     Alpes-de-Haute-Provence           16.0
5                                Hautes-Alpes           15.8
..                                        ...            ...
96                          Seine-Saint-Denis           14.7
97                               Val-de-Marne           11.2
98                                 Val-d'Oise           12.0
99   France métropolitaine hors Ile-de-France           12.7
100                     France métropolitaine           12.5

[100 rows x 2 columns]

#### Pauvreté monétaire (2021 - MaJ 2024)

In [37]:
# URL directe du fichier
url = "https://www.data.gouv.fr/api/1/datasets/r/ad9653b3-0ee8-4286-b94f-b86522c25c61"
# Lecture avec encodage adapté
df7 = pd.read_excel(url, engine='openpyxl', header = 4, usecols=[0,1,2],
 nrows=101).rename(columns = {"Unnamed: 1": "Dep",
"Taux de pauvreté (1)": "tauxpauvrete"}).drop(columns=["Départements"]).dropna()
# Vérification
df7

                                          Dep  tauxpauvrete
1                                         Ain          10.8
2                                       Aisne          18.8
3                                      Allier          16.2
4                     Alpes-de-Haute-Provence          17.1
5                                Hautes-Alpes          14.7
..                                        ...           ...
96                                 Val-d'Oise          17.7
97   France métropolitaine hors Ile-de-France          14.7
98                      France métropolitaine          14.9
99                                 Martinique          26.8
100                                La Réunion          36.1

[100 rows x 2 columns]

### Fusion des différents tableaux pour avoir le df final

In [ ]:
from functools import reduce

In [38]:
dfs = [df1, df2, df3, df4, df5, df6, df7]

# Fusion progressive sur la colonne "Dep"
df= reduce(lambda left, right: pd.merge(left, right, on="Dep", how="inner"), dfs)
df.head()

,Dep,D9/D1,Rev_median,Ndip25_34,intens_pauvr,chom19,chom24,Dem_empl15_64,tauxpauvrete
0,Ain,3.5,24810.0,11.5,20.4,6.050,5.600,10.3,10.8
1,Aisne,3.1,20920.0,17.6,20.1,11.800,10.500,15.8,18.8
2,Allier,3.0,21500.0,14.8,20.1,9.050,7.925,13.7,16.2
3,Alpes-de-Haute-Provence,3.2,21790.0,12.7,20.5,10.075,7.925,16.0,17.1
4,Hautes-Alpes,3.0,22010.0,9.7,19.9,7.925,6.225,15.8,14.7

In [39]:
# On sauvegarde le fichier dans le repo github
df.to_csv("df_regressions.csv", index=False)