In [11]:
import pandas as pd

# Importation des bases de données pour le projet depuis data.gouv

#### Base disparité des niveaux de vie

In [12]:
# URL directe du fichier
url = "https://www.data.gouv.fr/api/1/datasets/r/84e9ee7b-fc35-4c4a-85bf-85a1ff9503f4"
# Lecture avec encodage adapté
df1 = pd.read_excel(url, engine='openpyxl', header = 5, nrows=101).dropna()
# Vérification
df1

,Départements,Unnamed: 1,Rapport interdécile D9/D1
0,01,Ain,3.5
1,02,Aisne,3.1
2,03,Allier,3.0
3,04,Alpes-de-Haute-Provence,3.2
4,05,Hautes-Alpes,3.0
...,...,...,...
95,95,Val-d'Oise,3.7
96,P,France métropolitaine hors Ile-de-France,3.2
97,M,France métropolitaine,3.4
98,972,Martinique,4.2
99,974,La Réunion,4.3

#### Base Niveau de vie des ménages (2021 - MaJ 2024)

In [13]:
# URL directe du fichier
url = "https://www.data.gouv.fr/api/1/datasets/r/06234b8a-f19b-4972-84e2-39e7b65e4e5a"
# Lecture avec encodage adapté
df2 = pd.read_excel(url, engine='openpyxl', header = 5, nrows=101).dropna()
# Vérification
df2

,Départements,Unnamed: 1,Niveau de vie médian
0,01,Ain,24810.0
1,02,Aisne,20920.0
2,03,Allier,21500.0
3,04,Alpes-de-Haute-Provence,21790.0
4,05,Hautes-Alpes,22010.0
...,...,...,...
95,95,Val-d'Oise,23290.0
96,P,France métropolitaine hors Ile-de-France,22730.0
97,M,France métropolitaine,23080.0
99,972,Martinique,19770.0
100,974,La Réunion,17070.0

#### Base jeunes non diplomés de 25-34 ans (2021 - MaJ 2024)

In [14]:
# URL directe du fichier
url = "https://www.data.gouv.fr/api/1/datasets/r/fb6e85bc-0ebe-4754-bdc4-2f3ff8c0ad8a"
# Lecture avec encodage adapté
df3 = pd.read_excel(url, engine='openpyxl', header = 4, nrows=101, usecols=[0,1,7]).dropna()
# Vérification
df3

    Départements                                Unnamed: 1 Unnamed: 7
1             01                                       Ain       11.5
2             02                                     Aisne       17.6
3             03                                    Allier       14.8
4             04                   Alpes-de-Haute-Provence       12.7
5             05                              Hautes-Alpes        9.7
..           ...                                       ...        ...
96            93                         Seine-Saint-Denis       18.9
97            94                              Val-de-Marne       11.3
98            95                                Val-d'Oise       14.1
99             P  France métropolitaine hors Ile-de-France       11.9
100            M                     France métropolitaine       11.6

[100 rows x 3 columns]

#### Intensité de la pauvreté (2021 - MaJ 2024)

In [15]:
# URL directe du fichier
url = "https://www.data.gouv.fr/api/1/datasets/r/2ee6cff1-efeb-4739-bde3-d1778bea8b86"
# Lecture avec encodage adapté
df4 = pd.read_excel(url, engine='openpyxl', header = 5, nrows=101, usecols=[0,1,2]).dropna()
# Vérification
df4

,Départements,Unnamed: 1,Intensité de la pauvreté (1)
0,01,Ain,20.4
1,02,Aisne,20.1
2,03,Allier,20.1
3,04,Alpes-de-Haute-Provence,20.5
4,05,Hautes-Alpes,19.9
...,...,...,...
95,95,Val-d'Oise,22.9
96,P,France métropolitaine hors Ile-de-France,20.2
97,M,France métropolitaine,20.8
98,972,Martinique,24.1
99,974,La Réunion,24.0

#### Taux de chomage (2019,2021,2024)

In [16]:
# URL directe du fichier
url = "https://www.data.gouv.fr/api/1/datasets/r/500d1954-9849-479b-9aac-85435c6d422f"
# Lecture avec encodage adapté
df5 = pd.read_excel(url, engine='openpyxl', header = 5, usecols=[0,1,7,10,12],
 nrows=101, sheet_name="Moyenne annuelle").dropna()
# Vérification
df5

    Département               Unnamed: 1    2019    2022    2024
0            01                      Ain   6.050   5.450   5.600
1            02                    Aisne  11.800  10.425  10.500
2            03                   Allier   9.050   7.675   7.925
3            04  Alpes-de-Haute-Provence  10.075   8.225   7.925
4            05             Hautes-Alpes   7.925   6.875   6.225
..          ...                      ...     ...     ...     ...
96            M    France métropolitaine   8.175   7.075   7.175
97          971               Guadeloupe  20.125  18.600  16.750
98          972               Martinique  16.125  12.450  12.350
99          973                   Guyane  17.125  13.125  16.950
100         974                  Réunion  21.500  18.050  17.350

[101 rows x 5 columns]

#### Demandeurs d'emploi (Part de la population active 15-64 ans)

In [17]:
# URL directe du fichier
url = "https://www.data.gouv.fr/api/1/datasets/r/87b12173-d9fb-462f-b216-370439ac6d69"
# Lecture avec encodage adapté
df6 = pd.read_excel(url, engine='openpyxl', header = 4, usecols=[0,1,8],
 nrows=101, sheet_name="Données").dropna()
# Vérification
df6

,Départements,Unnamed: 1,Part des demandeurs d’emploi dans la population en âge de travailler (15 -64 ans) (3)
1,01,Ain,10.3
2,02,Aisne,15.8
3,03,Allier,13.7
4,04,Alpes-de-Haute-Provence,16.0
5,05,Hautes-Alpes,15.8
...,...,...,...
96,93,Seine-Saint-Denis,14.7
97,94,Val-de-Marne,11.2
98,95,Val-d'Oise,12.0
99,P,France métropolitaine hors Ile-de-France,12.7
100,M,France métropolitaine,12.5

#### Pauvreté monétaire (2021 - MaJ 2024)

In [18]:
# URL directe du fichier
url = "https://www.data.gouv.fr/api/1/datasets/r/ad9653b3-0ee8-4286-b94f-b86522c25c61"
# Lecture avec encodage adapté
df7 = pd.read_excel(url, engine='openpyxl', header = 4, usecols=[0,1,2],
 nrows=101).dropna()
# Vérification
df7

,Départements,Unnamed: 1,Taux de pauvreté (1)
1,01,Ain,10.8
2,02,Aisne,18.8
3,03,Allier,16.2
4,04,Alpes-de-Haute-Provence,17.1
5,05,Hautes-Alpes,14.7
...,...,...,...
96,95,Val-d'Oise,17.7
97,P,France métropolitaine hors Ile-de-France,14.7
98,M,France métropolitaine,14.9
99,972,Martinique,26.8
100,974,La Réunion,36.1